<section class="main">
  <div class="box">
    <h1 class='title'>Choose a Story!</h1>
    
    <%= @text %>
    
    <ul>
      <% @stories.each do |story| %>
        <li><%= link_to story.title, story_path(story.id), class: 'link' %></li>
      <% end %>
    </ul>
    <%= link_to "New Story", root_path, class: 'link' %>
  </div>
</section>

