<section class="main">
  <div class="box">
    <h1 class='title'>Past Stories!</h1>
    
    <ul class='story-list'>  
      <% @stories.each do |story| %>
        <li><%= link_to story.title, story_path(story.id), class: 'story-name'%></li>
      <% end %>
    </ul>
  </div>
</section>