#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: rgb(240, 240, 240);
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav-title {
  padding: 10px;
  color: #1A8FE3;
  font-size: 30px;
  text-decoration: none;
}

.nav-link, .nav-login {
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
}

.nav-link {
  color: #1A8FE3;
}

.nav-login {
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  background-color: #F37933;
}