#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 4px rgb(196, 196, 196);
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
}

#nav-title {
  padding: 10px 20px;
  color: #1A8FE3;
  font-size: 25px;
  text-decoration: none;
}

.nav-link, .nav-login {
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
}

.nav-link {
  color: #1A8FE3;
}

.nav-login {
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  background-color: #F37933;
}

.main-logo {
  max-height: 40px;
}

/* Laptop */
@media (min-width: 1024px) {
  #navbar {
    padding: 20px 0;
  }
  
  #nav-links {
    padding: 10px 20px;
  }
  
  #nav-title {
    padding: 10px 20px;
    font-size: 45px;
  }
  
  .nav-link, .nav-login {
    margin: 0 10px;
    font-size: 18px;
  }

  .nav-login {
    padding: 6px 10px;
  }
  
  .main-logo {
    max-height: 40px;
  }
}

