.input {
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.q-and-a {
  width: 90%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 100px;
  gap: 5%;
  align-items: center;
}

.question, .answer {
  font-size: 14px;
  height: 25px;
}

.story {
  color: #4e4e4e;
  font-size: 20px;
  line-height: 1.4;
}